<p>home works!</p>
<h1>Single Value : 
  <span>{{ count() }}</span>
</h1>
<!-- <h1>Double Value : 
  <span>{{ double() }}</span>
</h1> -->
<storybook-button
  [primary]="true"
  [backgroundColor]="null"
  [label]="'Increament'"
  (onClick)="increment()"
></storybook-button>

<storybook-button
  [primary]="false"
  [backgroundColor]="null"
  [label]="'Decreamnet'"
  (onClick)="decrement()"
></storybook-button>


<h3>Products List</h3>
<storybook-button
  [primary]="true"
  [backgroundColor]="null"
  [label]="'Add Product'"
  (onClick)="decrement()"
></storybook-button>
