.p-20 {
    padding: 20px;
}

.board-sidebar-section {
    display: flex;
    margin-top: 70px;
    height: 91vh;

    .app-side-bar {
        flex: 0 0 25%;
        background-color: #f0f4f9;
        transition: all 0.3s ease-in-out;
        overflow-y: auto;
    }

    .app-prompt-input {
        flex: 0 0 75%;
    }
}